/* Header.css */  

header {  
    /* background-color: #34495e;   */
    background-color: #343434;  
    color: white;  
    padding: 10px 0;  
    /* border-radius: 50px 50px 50px 50px; */
}  

.container {  
    max-width: 1200px;  
    margin: 0 auto;  
    padding: 0 20px;  
}  

.header-content {  
    display: flex;  
    justify-content: space-between;  
    align-items: center;  
}  

.logo img {  
    border-radius: 50px;  
    max-height: 100px;  
    max-width: 100px;  
}  

.nav ul {  
    list-style: none;  
    padding: 0;  
    margin: 0;  
    display: flex;  
}  

.nav li {  
    margin-left: 20px;  
}  

.nav a {  
    color: white;  
    text-decoration: none;  
    transition: color 0.3s;  
}  

.nav a:hover {  
    color: #3498db;  
}  

/* Скрываем бургер-меню по умолчанию на больших экранах */  
.burger-menu {  
    display: none;  
}  

/* Медиа-запрос для маленьких экранов */  
@media (max-width: 768px) {  
    .nav {  
        display: none; /* Скрываем обычную навигацию */  
    }  

    .burger-menu {  
        display: block; /* Показываем бургер-меню */  
    }  

    .header-content {  
        align-items: center; /* Центрируем элементы по вертикали */  
    }  
}  