/* VideoCourses.css */

.video-courses-container {
    max-width: 1000px; /* Максимальная ширина контейнера */
    margin: 20px auto; /* Центрирование контейнера */
    padding: 30px; 
    background-color: #ffffff; /* Белый фон */
    border-radius: 10px; /* Закругленные углы */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Тень */
    font-family: 'Arial', sans-serif; /* Шрифт */
    /* line-height: 1.6;  */
}

.video-courses-container h1 {
    font-size: 2.5em; /* Размер заголовка */
    margin-bottom: 20px; /* Отступ снизу */
    color: #2c3e50; /* Цвет заголовка */
    text-align: center; /* Центрирование заголовка */
}

.video-courses-container h2 {
    font-size: 1.8em; /* Размер подзаголовка */
    margin-top: 20px; /* Отступ сверху */
    color: #2980b9; /* Цвет подзаголовка */
}

.video-courses-container p {
    font-size: 1.1em; /* Размер текста */
    margin-bottom: 15px; /* Отступ снизу */
    color: #34495e; /* Цвет текста */
}

.video-courses-container ul {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем отступы */
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.video-courses-container ul li {
    margin-bottom: 20px; /* Отступ между элементами списка */
    padding: 15px; /* Отступы внутри элемента списка */
    border: 1px solid #ccc; /* Граница элемента списка */
    border-radius: 5px; /* Закругленные углы */
    background-color: #f9f9f9; /* Светлый фон для элемента списка */
    transition: box-shadow 0.3s; /* Плавный переход тени */
    width: 300px;
    height: 300px;
}

.video-courses-container ul li:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Тень при наведении */
}

.video-courses-container a {
    display: inline-block; /* Делаем ссылку блочным элементом */
    margin-top: 10px; /* Отступ сверху */
    padding: 10px 15px; /* Отступы внутри ссылки */
    background-color: #2980b9; /* Цвет фона ссылки */
    color: white; /* Цвет текста ссылки */
    border-radius: 5px; /* Закругленные углы */
    text-decoration: none; /* Убираем подчеркивание */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
}

.video-courses-container a:hover {
    background-color: #1a6a8a; /* Цвет фона ссылки при наведении */
}