/* styles.css */

.courses-container {
    display: flex; /* Используем flexbox для расположения карточек */
    flex-wrap: wrap; /* Позволяем карточкам переноситься на новую строку */
    justify-content: space-around; /* Распределяем карточки по контейнеру */
    padding: 20px; /* Отступы вокруг контейнера */
}

.course-card {
    background-color: #fff; /* Белый фон карточки */
    border-radius: 10px; /* Закругленные углы */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Тень */
    margin: 10px; /* Отступы между карточками */
    width: 300px; /* Ширина карточки */
    overflow: hidden; /* Скрываем переполнение */
    transition: transform 0.3s; /* Плавный переход при наведении */
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.course-card:hover {
    transform: scale(1.05); /* Увеличиваем карточку при наведении */
    background-color: #ebebeb;
}

.course-image {
    width: 100%; /* Изображение занимает всю ширину карточки */
    height: 200px; /* Автоматическая высота для сохранения пропорций */
}

.course-title {
    font-size: 25px; /* Размер шрифта заголовка */
    margin: 10px 0; /* Отступы сверху и снизу */
    color: #333; /* Цвет заголовка */
}

.course-description {
    font-size: 1em; /* Размер шрифта описания */
    color: #666; /* Цвет текста описания */
    padding: 0 10px; /* Отступы по бокам */
}

.course-link {
    display: block; /* Ссылка занимает всю ширину */
    text-align: center; /* Центрируем текст ссылки */
    padding: 10px; /* Отступы внутри ссылки */
    background-color: #34495e; /* Цвет фона ссылки */
    color: #fff; /* Цвет текста ссылки */
    text-decoration: none; /* Убираем подчеркивание */
    border-radius: 5px; /* Закругленные углы */
    margin: 10px; /* Отступы вокруг ссылки */
}

.course-link:hover {
    background-color: #fff; /* Темнее при наведении */
    color: #34495e;
}

@media (max-width: 600px) {
    .courses-container {
        flex-direction: column; /* Располагаем карточки в столбик на маленьких экранах */
        align-items: center; /* Центрируем карточки */
    }

    .course-card {
        width: 90%; /* Ширина карточки на мобильных устройствах */
    }
}